








<html>
<head>
    <title></title>
    <link href="/css/newcss/project.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="overflow:auto;">
<form name="form" method="post">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr><td class="Linetop"></td>
        </tr>
    </table>
    <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="title" id="tblHead">
        <tr>
            <td width="80%" >
                <table border="0" align="left" cellpadding="0" cellspacing="0" >

                    <tr>
                        <td>&nbsp;</td>
                        <td valign="middle">&nbsp;<b>本学期成绩查询列表</b>
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
            <td width="20%" >
                <table border="0" align="left" cellpadding="0" cellspacing="0" width="100%" >

                    <tr>
                        <td>&nbsp;</td>
                        <td width="5"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr><td class="Linetop"></td>
        </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="titleTop2">
        <tr>
            <td class="pageAlign">
                <table cellpadding="0" width="100%" class="displayTag" cellspacing="1" border="0" id="user">
                    <thead>
                    <tr>
                        <th align="center" width="10%" class="sortable">
                            课程号
                        </th>
                        <th align="center" width="10%" class="sortable">
                            课序号
                        </th>
                        <th align="center" width="20%" class="sortable">
                            课程名
                        </th>
                        <th align="center" width="20%" class="sortable">
                            英文课程名
                        </th>
                        <th align="center" width="10%" class="sortable">
                            学分
                        </th>
                        <th align="center" width="10%" class="sortable">
                            课程属性
                        </th>
                        <th align="center" width="10%" class="sortable">成绩
                        </th>
                    </tr>


                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            102434010
                        </td>
                        <td align="center">
                            01
                        </td>
                        <td align="center">
                            Economics of the European Union
                        </td>
                        <td align="center">
                            Economics of the European Union
                        </td>
                        <td align="center">
                            1
                        </td>
                        <td align="center">
                            任选
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            998014000
                        </td>
                        <td align="center">
                            28
                        </td>
                        <td align="center">
                            形势与政策-6
                        </td>
                        <td align="center">
                            Situation and Policy-6
                        </td>
                        <td align="center">
                            0
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            910001010
                        </td>
                        <td align="center">
                            15
                        </td>
                        <td align="center">
                            就业指导
                        </td>
                        <td align="center">
                            Guidance on Job Search
                        </td>
                        <td align="center">
                            1
                        </td>
                        <td align="center">
                            任选
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            501062020
                        </td>
                        <td align="center">
                            01
                        </td>
                        <td align="center">
                            人体胚胎学探秘
                        </td>
                        <td align="center">
                            Probing the secrets of human embryo
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            任选
                        </td>
                        <td align="center">

                            90

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303177010
                        </td>
                        <td align="center">
                            04
                        </td>
                        <td align="center">
                            电力系统实验
                        </td>
                        <td align="center">
                            Power System Experiment
                        </td>
                        <td align="center">
                            1
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303161020
                        </td>
                        <td align="center">
                            02
                        </td>
                        <td align="center">
                            计算机应用设计（单片机）
                        </td>
                        <td align="center">
                            Computer Application Design(Single-chip)
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303117020
                        </td>
                        <td align="center">
                            03
                        </td>
                        <td align="center">
                            现代电力系统的计算机辅助分析
                        </td>
                        <td align="center">
                            Computer Method of Power System Analysis
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            选修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303079010
                        </td>
                        <td align="center">
                            01
                        </td>
                        <td align="center">
                            课程设计（Ⅰ）
                        </td>
                        <td align="center">
                            Course Design（I）
                        </td>
                        <td align="center">
                            1
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303059010
                        </td>
                        <td align="center">
                            02
                        </td>
                        <td align="center">
                            高电压技术实验
                        </td>
                        <td align="center">
                            Experiments of High Voltage Engineering
                        </td>
                        <td align="center">
                            1
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303058020
                        </td>
                        <td align="center">
                            02
                        </td>
                        <td align="center">
                            高电压技术
                        </td>
                        <td align="center">
                            High Voltage Engineering
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303053030
                        </td>
                        <td align="center">
                            03
                        </td>
                        <td align="center">
                            调度自动化及信息管理系统
                        </td>
                        <td align="center">
                            Dispatching Automation and Information Management System
                        </td>
                        <td align="center">
                            3
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303039020
                        </td>
                        <td align="center">
                            02
                        </td>
                        <td align="center">
                            电能质量与控制技术（智能电网类）
                        </td>
                        <td align="center">
                            Electric quality Analysis and Control
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            选修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303037020
                        </td>
                        <td align="center">
                            02
                        </td>
                        <td align="center">
                            电力系统自动装置
                        </td>
                        <td align="center">
                            Automatic Equipments of Power Systems
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            选修
                        </td>
                        <td align="center">

                            87

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303034040
                        </td>
                        <td align="center">
                            02
                        </td>
                        <td align="center">
                            电力系统继电保护原理
                        </td>
                        <td align="center">
                            The Protection Relay of Power System
                        </td>
                        <td align="center">
                            4
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303028020
                        </td>
                        <td align="center">
                            05
                        </td>
                        <td align="center">
                            电力市场理论
                        </td>
                        <td align="center">
                            Electricity Market Theory
                        </td>
                        <td align="center">
                            2
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                            84

                        </td>
                    </tr>

                    <tr class="odd" onMouseOut="this.className='even';" onMouseOver="this.className='evenfocus';">
                        <td align="center">
                            303093010
                        </td>
                        <td align="center">
                            01
                        </td>
                        <td align="center">
                            生产实习（Ⅰ）
                        </td>
                        <td align="center">
                            Production Practice（I）
                        </td>
                        <td align="center">
                            1
                        </td>
                        <td align="center">
                            必修
                        </td>
                        <td align="center">

                            95

                        </td>
                    </tr>


                </TABLE>
                <div align="right">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" ><tr><td align="right">共16项&nbsp;&nbsp;第1/1页&nbsp;&nbsp;<img title="第一页" src="/img/icon/noDownDM2.gif"style="vertical-align:center;" width="11" height="11" />&nbsp;<img title="前一页" src="/img/icon/noDownDM_2.gif"style="vertical-align:center;" width="11" height="11" /><img title="下一页" src="/img/icon/noUpDM_2.gif"style="vertical-align:center;" width="11" height="11" />&nbsp;<img title="最后一页" src="/img/icon/noUpDM2.gif"style="vertical-align:center;" width="11" height="11" />&nbsp;&nbsp;每页显示的记录数&nbsp;<select name="pageSize" onchange="pageSizeChange()"><option value="10" >10项</option><option value="20" selected='selected'>20项</option><option value="30" >30项</option><option value="40" >40项</option><option value="50" >50项</option><option value="100" >100项</option><option value="200" >200项</option><option value="300" >300项</option></select><input   name="page"   type="hidden"   id="page" value="1">&nbsp;<input   name="currentPage"   type="hidden"   id="currentPage" value="1">&nbsp;<input   name="pageNo"   type="text"   id="pageNo"   size="3"   onKeyPress="return   handleEnterOnPageNo();">&nbsp;<img src="/img/icon/go.gif"  name="goto"  id="goto" style="cursor:hand;" title="跳转到" onClick="forward();"><script   type   =   'text/javaScript'>
                                    function   forward(){     if(!(/^([1-9])(\d{0,})(\d{0,})$/.test(document.all.pageNo.value))){         alert("请输入合法的页号！");         document.all.pageNo.focus();         return false;     }     if(document.all.pageNo.value>1     ){     alert("输入的页数超过了总页数，请重新输入！");         document.all.pageNo.focus();         return false;     }         window.location.href="/bxqcjcxAction.do?totalrows=16&page="+   document.all.pageNo.value +"&pageSize="+document.all.pageSize.value;}function   handleEnterOnPageNo(){     if(event.keyCode   ==   13)     {         forward();         return   false;     }     return   true;}function pageSizeChange(){ window.location.href="/bxqcjcxAction.do?totalrows=16&pageSize="+document.all.pageSize.value;}function pagination(value){ window.location.href="/bxqcjcxAction.do?totalrows=16&page="+value+"&pageSize="+document.all.pageSize.value;}</script></td></tr></table>
                </div>
</form>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
